<section class="text-center py-16 px-4 bg-white dark:bg-gray-900 dark:text-white transition-colors duration-300">
    <h2 class="text-4xl font-extrabold text-linknet mb-4">
      Conexión rápida y estable
    </h2>
    <p class="text-lg text-gray-700 mb-6 dark:text-gray-700">
      Internet de alta velocidad para Temuco y Rucahue.
    </p>
    <a
      href="#planes"
      class="bg-linknet text-white font-semibold px-6 py-3 rounded-xl hover:bg-linknet-accent transition"
    >
      Ver planes disponiblesssssssssss
    </a>
  </section>
  