---
import Botonwsp from "../components/botonwsp.astro";
const { title = "Forestal Fátima" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <slot name="head" />
    <style>
      html { scroll-behavior: smooth; }
    </style>
  </head>
  <body class="bg-white text-gray-900">
    <div>
      <slot />
      <Botonwsp />
    </div>

    {/* SCRIPT GLOBAL PARA LA ANIMACIÓN DE SCROLL */}
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              entry.target.classList.add('is-visible');
            } else {
              entry.target.classList.remove('is-visible');
            }
          });
        }, {
          threshold: 0.10
        });

        const itemsToAnimate = document.querySelectorAll('.scroll-animate-item');
        itemsToAnimate.forEach(item => {
          observer.observe(item);
        });
      });
    </script>
  </body>
</html>